<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="jumbotron text-center">
                    <h2>Found <span class="box label label-info">{{ data_twitter.length }}</span> persons</h2>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="friend in data_twitter">
            <div class="row">
                <div class="col-md-1">
                    <img class="img-circle" ng-src="{{friend.picture}}"/>
                </div>
                <div class="col-md-11 text-left" >
                    <h4>{{friend.name}}</h4>
                </div>

            </div>
        </li>
    </ul>
</div>
