<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{data_twitter.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" ng-src="{{data_twitter.picture}}" class="img-circle"> </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Screen name</td>
                                    <td>{{data_twitter.screen_name}}</td>
                                </tr>
                                <tr>
                                    <td>User ID</td>
                                    <td>{{data_twitter.id}}</td>
                                </tr>
                                <tr>
                                    <td>Joined Twitter</td>
                                    <td>{{data_twitter.join_date}}</td>
                                </tr>
                                <tr>
                                    <td>Followers</td>
                                    <td>{{data_twitter.followers_count}}</td>
                                </tr>
                                <tr>
                                    <td>Following</td>
                                    <td>{{data_twitter.following_count}}</td>
                                </tr>
                                <tr>
                                    <td>Language</td>
                                    <td>{{data_twitter.language}}</td>
                                </tr>
                                <tr>
                                    <td>Profile</td>
                                    <td><a ng-href="{{data_twitter.link}}">Twitter</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>